.checkoutForm {
  margin-bottom: 8rem;
}

.checkoutForm h1 {
  margin-bottom: 2rem;
}

.subHeader {
  color: #d87d4a;
  font-weight: 600;
}

.checkoutForm input:focus {
  outline: #d87d4a;
}
.billingInfo {
  margin-bottom: 2rem;
}

.shippingInfo {
  margin-bottom: 2rem;
}

.shippingDetails {
  background-color: whitesmoke;
  padding: 40px;
  margin-bottom: 20px;
}

.cartDetails {
  background-color: whitesmoke;
  padding: 40px;
}

.paymentMenthod {
  border: 1px #d87d4a solid;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.validation {
  color: red;
  display: flex;
  justify-content: space-between;
}

input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 4px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
  margin-right: 5px;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: #d87d4a;
}

.terms {
  display: none;
}

.eMoneyInfo {
  margin-top: 1rem;
}

.header {
  font-weight: 700;
  font-size: 2rem;
}

.subText {
  color: grey;
}
.modalBody {
  padding: 2rem !important;
}
.orderCard {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.orderCardLeft {
  background-color: #f1f1f1;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.orderCardRight {
  padding: 1rem;
  background-color: black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: grid;
  align-content: end;
}

.orderCardRight p:first-child {
  color: grey;

  font-size: 0.8rem;
}

.orderCardRight p:nth-child(2) {
  color: white;
}

.backHomeBtn {
  margin-top: 2rem;
  width: 100%;
}

.otherItmesText {
  border-top: 1px solid lightgrey;
  text-align: center;
  color: grey;
  padding-top: 0.8rem;
  font-size: 0.8rem;
}

.otherItmesText p {
  margin-bottom: 0;
}

.fallbackText {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 10rem 0;
}

@media (min-width: 992px) {
  .checkoutForm {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .shippingDetails {
    width: 73%;
    margin-bottom: 0;
  }

  .cartDetails {
    width: 25%;
    height: fit-content;
  }

  .terms {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .terms p {
    margin-left: 30px;
    margin-bottom: 0;
    font-weight: 400;
    color: gray;
  }
}
