.checkoutForm h1 {
  margin-bottom: 2rem;
}

.checkoutForm p {
  color: #d87d4a;
  font-weight: 600;
}

.checkoutForm input:focus {
  outline: #d87d4a;
}
.billingInfo {
  margin-bottom: 2rem;
}

.shippingInfo {
  margin-bottom: 2rem;
}

.shippingDetails {
  background-color: whitesmoke;
  padding: 40px;
  margin-bottom: 20px;
}

.cartDetails {
  background-color: whitesmoke;
  padding: 40px;
}

@media (min-width: 992px) {
  .checkoutForm {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .shippingDetails {
    width: 73%;
    margin-bottom: 0;
  }

  .cartDetails {
    width: 25%;
    height: fit-content;
  }
}
