.menuOuter {
  text-align: center;
  background-color: #181818 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* .menuContainer {
  padding-left: 0 !important;
  padding-right: 0 !important;
} */
.bgblack {
  background-color: #181818 !important;
  padding: 0;
}

.emptyDiv {
  height: 60px;
}

.Offcanvas {
  padding: 30px;
}

.navLink {
  color: white !important;
}
.navLink:hover {
  color: orange !important;
}

@media (min-width: 768px) {
  .emptyDiv {
    height: 120px;
  }
}
