.menuOuter {
  text-align: center;
  background-color: #181818 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bgblack {
  background-color: #181818 !important;
}

.line {
  border-top: 1px solid white;
}

.Offcanvas {
  padding: 30px;
}

.navLink {
  color: white !important;
}
.navLink:hover {
  color: orange !important;
}

.cart {
  position: relative;
}

.cart span {
  background-color: #d87d4a;
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  color: white;
  font-size: 0.9rem;
  top: -5px;
  left: 10px;
  padding-top: 1px;
  padding-left: 1px;
  letter-spacing: normal;
}

/* @media (min-width: 1199.98px) {
  .navLink {
    padding-left: 40px !important;
  }
} */
