.col {
  margin-bottom: 50px;
  min-height: 13rem;
}

.EarphonesImg img {
  width: 100%;
  border-radius: 5px;
}

.EarphonesText {
  background-color: rgb(230, 227, 227);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  padding: 0 60px;
}

.EarphonesText h1 {
  font-size: 1.8rem;
  font-weight: 550;
  margin-bottom: 40px;
}

.btn {
  border: 1px solid black;
  color: black;
  border-radius: 0;
  padding: 10px;
  font-weight: 600;
  width: 8rem;
  background: none;
}
.btn:hover {
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .EarphonesJumbotron {
    padding-left: 0;
    padding-right: 0;
  }
  .col {
    min-height: auto;
  }
  .EarphonesText {
    margin-top: 0;
  }
}
