.HighlightProducts {
  margin-top: 10rem;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .HighlightProducts {
    padding-left: 0;
    padding-right: 0;
  }
  .HighlightProducts {
    margin-bottom: 80px;
  }
}
