.SpeakerJumbotronContainer {
  height: auto;
  background-color: #d87d4a;
  position: relative;
  border-radius: 5px;
  padding: 80px 0;
  overflow: hidden;
}

.circleImg {
  position: absolute;
  z-index: 0;
  top: -50px;
}

.SpeakerJumbotronOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SpeakerJumbotronImgContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}
.SpeakerJumbotronImg {
  width: 10rem;
}

.SpeakerJumbotronTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  color: white;
  width: 50%;
  text-align: center;
  align-items: center;
  margin-top: 50px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 550;
  margin-bottom: 0;
}

.SpeakerJumbotronTextContainer p {
  font-weight: 200;
  margin: 20px 0 !important;
}

.SpeakerButton {
  background-color: black;
  color: white;
  width: 8rem;
  border-radius: 0;
  padding: 10px;
  text-transform: uppercase;
}
.SpeakerButton:hover {
  background-color: grey;
  color: white;
}

@media (min-width: 992px) {
  .SpeakerJumbotronContainer {
    padding: 80px 0 0;
  }
  .SpeakerJumbotronOverlay {
    flex-direction: row;
    height: 100%;
  }
  .SpeakerJumbotronImg {
    width: 25rem;
  }
  .SpeakerJumbotronTextContainer {
    width: 30%;
    text-align: left;
    align-items: flex-start;
    margin-top: 0;
  }
  .SpeakerButton {
    width: 8rem;
  }
}
