@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

.Jumbotron {
  background-image: url("../assets/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 50vh;
  position: relative;
  text-align: center;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
span {
  font-weight: 200;
  letter-spacing: 0.5em;
  font-size: 1.5vh;
}
.title {
  font-weight: 700;
  font-size: 6vh;
}

.lead {
  font-weight: 200;
  font-size: 2vh;
  margin-bottom: 25px;
}

.button {
  border-radius: 0;
  background-color: #d87d4a;
  font-size: 1.5vh;
  color: white;
}
.button:hover {
  background-color: #fbaf85;
}

@media (min-width: 1080px) {
  .Jumbotron {
    background-image: url("../assets/image-hero.jpg");
    height: 88vh;
    background-size: 120%;
    position: relative;
  }
  .text {
    position: absolute;
    bottom: 0;
    left: 18%;
    text-align: left;
    width: 35%;
    /* transform: translate(-650px, 10px); */
  }
}
