@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

.Jumbotron {
  background-image: url("../assets/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
span {
  font-weight: 200;
  letter-spacing: 0.5em;
}
.title {
  font-weight: 700;
  font-size: 3.2rem;
}

.lead {
  font-weight: 200;
  font-size: 0.9rem;
  margin-bottom: 25px;
}

.button {
  border-radius: 0;
  background-color: #d87d4a;
  font-size: 0.8rem;
  color: white;
}
.button:hover {
  background-color: #fbaf85;
}

@media (min-width: 1199.98px) {
  .Jumbotron {
    background-image: url("../assets/image-hero.jpg");
    height: 88vh;
  }
  .text {
    text-align: left;
    width: 25%;
    transform: translate(-650px, 10px);
  }
}
