.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: orange !important;
}
.btn-close {
  filter: invert(1) sepia(1) saturate(8) hue-rotate(175deg);
}

.navbar-toggler-icon {
  width: 2em !important;
  height: 2em !important;
}

.navbar-toggler {
  border: none !important;
}
:focus {
  box-shadow: none !important;
}

@media (min-width: 1199.98px) {
  .nav-link {
    padding-left: 40px !important;
  }
}
