.App {
  text-align: center;
}

.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: orange !important;
}
.bgblack {
  background-color: #181818 !important;
}

@media (min-width: 1199.98px) {
  .nav-link {
    padding-left: 40px !important;
  }
}
